<h1>Task status update!!</h>
 <p>
   Hi, user: <%= @user.email %> <br>
   Your Task is pending accessing the limit of one day. <br>
   Task Details <br>
   Title: <%= @task.title %> <br>
   Descryption: <%= @task.descryption %> <br>
   Status: <%= @task.status %> <br>
   created_at: <%= @task.created_at %> <br>
   updated_at: <%= @task.updated_at %> <br>
 </p>
<p>Thanks for joining and have a great day!</p>
