<tr id="<%= dom_id task %>">
  <td class="title-cell">
    <div class="task-title"><%= task.title %></div>
  </td>

  <td>
    <span class="badge <%= task.status %>">
      <%= task.status.capitalize %>
    </span>
  </td>

  <td class="actions-cell" style="text-align: center;">
    <%# <%= link_to "Show", users_task_path(task), class: "table-action" %>
    <%= link_to "Edit", edit_users_task_path(task), data: { turbo_stream: true, turbo_method: :get }, class: "table-action edit" %>
    <%= button_to "Delete",
        users_task_path(task),
        method: :delete,
        data: { controller: "confirm", action: "click->confirm#confirm" },
        class: "table-action delete",
        form_class: "inline-form" %>
  </td>
</tr>
