<h2>Edit Task</h2>

<%= form_with model: [:users, @task], scope: :task, method: :patch do |f| %>

Title:
<%= f.text_field :title, required: true %><br><br>
<% if flash[:error].present? %>
  <p>
    <%= flash[:error].split(':')[1] %>
  </p>
<% end %>
Description:
<%= f.text_area :descryption %><br><br>

Status:
<%= f.select :status, Task.statuses.keys, selected: @task.status %><br><br>

<%= f.submit "Update" %>

<% end %>
