<%= render "shared/navbar" %>

<div class="center-wrapper">
  <div class="form-card">

    <h3>Edit Task</h3>

    <%= form_with model: [:users, @task], method: :patch, html: { id: "editTaskForm" } do |f| %>

      <label>Title</label>
      <%= f.text_field :title, placeholder: "Enter title", id: "editTitleField", autofocus:true %>
      
      <% if flash[:error] %>
        <div>
          <p class="validation-failed" style="color:#e53e3e;font-size: 12px;"><%= flash[:error] %></p>
        </div>
      <% end %>

      <label>Description</label>
      <%= f.text_area :description, placeholder: "Enter description" %>

      <label>Status</label>
      <%= f.select :status, Task.statuses.keys, selected: @task.status %>

      <%= f.submit "Update Task", class: "btn btn-primary" %>

    <% end %>

  </div>
</div>
