<%= render "shared/navbar" %>

<div class="tasks-wrapper">

  <%# <%= turbo_frame_tag "task_form" do %>
    <%# <%= render "new_form", user: @user, task: @user.tasks.new %>  
  <%# <% end %> 

  <%# <div id="new_task_form">
    <%= render "new_form", user: @user, task: @user.tasks.new %>
  <%# </div> %> 
  <div>
    <%= turbo_frame_tag "form" do %>
      <%= render "tasks/form", task: Task.new %>
    <% end %>
  </div>

  

  <div class="tasks-header">
    <h2>Your Tasks</h2>

  </div>

  <div class="tasks-container">

    <%# <% @user.tasks.each do |task| %>
      <%# <%= render "tasks/task", task: task %>
    <%# <% end %> 

    <%= turbo_frame_tag "tasks" do %>
      <%= render @tasks %>
    <% end %>

    <%= paginate @tasks, remote: true %>

  </div>
</div>
