<%= render "shared/navbar" %>

<div class="tasks-wrapper" data-controller="reload-redirect" data-redirect-path="<%= users_tasks_path %>" >

  <div>
    <%= turbo_frame_tag "form" do %>
      <%= render "tasks/form", task: Task.new %>
    <% end %>
  </div>

  <div class="header-elastic">
    <div style="width: 25%; margin-top: 5px;">
      <%= form_with url: users_tasks_path, method: :get, class: "elastic", data: { controller: "search", turbo_frame: "tasks_frame" } do |f| %>

        <%= f.text_field :query, placeholder: "Search tasks...", data: { action: "input->search#submit" } %>
      <% end %>
    </div>
    <div class="tasks-header">
      <h2>Your Tasks</h2>
    </div>
  </div>

  <%# <%= turbo_stream_from "job_status_channel" %>

  <%= turbo_frame_tag "tasks_frame" do %>

    <div class="tasks-container">
      <div class="table-card">
      <%= turbo_frame_tag "tasks_table_frame" do %>
        <table class="modern-table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Status</th>
              <th class="actions-col" style="text-align: center;">Actions</th>
            </tr>
          </thead>
          <%= render "tasks/table" %>

        </table>
      <% end %>
      </div>

      <%= render "tasks/pagination" %>
    </div>

  <% end %>

</div>
