<%= render "shared/navbar" %>

<div class="center-wrapper">
  <div class="form-card">

    <h3>Create Task</h3>

    <%= form_with model: [:users, @task || Task.new], html: { id: "taskForm" } do |f| %>

      <label>Title</label>
      <%= f.text_field :title, placeholder: "Enter title", autofocus: true, id: "titleField" %>
      <p id="titleError" class="field-error"></p>

      <label>Descryption</label>
      <%= f.text_area :descryption, placeholder: "Enter descryption" %>

      <label>Status</label>
      <%= f.select :status, Task.statuses.keys %>

      <%= f.submit "Create Task", class: "btn btn-success" %>

    <% end %>

  </div>
</div>
