<h2>Login</h2>

<%= form_with scope: :user, url: login_users_path do |f| %>

    Email:
    <%= f.text_field :email %><br><br>

    Password:
    <%= f.password_field :password %><br><br>

    <%= f.submit "Login" %>
<% end %>

<hr>

<p>
New user?
<%= link_to "Register here", root_path %>
</p>