<div class="auth-card">

  <h3>Sign Up</h3>

  <%= form_with scope: :user, url: users_path, data: {
    controller: "auth",
    action: "submit->auth#validate"
  }, novalidate: true do |f| %>

    <label>Email</label>
    <%= f.text_field :email, data: { auth_target: "email" }, placeholder: "dev@gmail.com", autofocus: :true %>
    <small class="error-message" data-auth-target="emailError"></small>

    <label>Password</label>
    <%= f.password_field :password, data: { auth_target: "password" }, placeholder: "Dev@12" %>
    <small class="error-message" data-auth-target="passwordError"></small>

    <p class="password-note">
      Must include 1 uppercase, 1 lowercase, 1 special character,
      1 number, 6-8 characters and no spaces.
    </p>

    <% if flash[:error] && flash[:error].match("Email has already been taken") %>
    <div>
      <p style="color:#e53e3e;font-size: 12px;"><%= flash[:error].match("Email has already been taken") %></p>
    </div>
    <% end %>

    <%= f.submit "Register", class: "btn btn-success" %>
  <% end %>

  <p>
    Already registered?
    <%= link_to "Login", root_path(form: "login") %>
  </p>
</div>
